<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-item class="ion-no-padding">
      <ion-title>
        NewsApp
      </ion-title>
      <ion-button (click)="openGithub()">
        <ion-icon name="logo-github" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-news [news]="news"></app-news>
  <ion-infinite-scroll threshold="25%" [disabled]="true" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="lines" loadingText="Loading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
